<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.telephony" android:required="true"/>
    <uses-permission android:name="android.permission.READ_CONTACTS" />         <!--mob-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MediaStore.createWriteRequest" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />             <!--mob-->



    <application
        android:allowBackup="true"
        android:enableOnBackInvokedCallback="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="tiramisu"
    >
<!--        <activity-->
<!--            android:name=".HomeFragment"-->
<!--            android:exported="false"-->
<!--            tools:ignore="Instantiatable" />-->
<!--        <activity-->
<!--            android:name=".SquareFragment"-->
<!--            android:exported="false"-->
<!--            tools:ignore="Instantiatable" />-->
<!--        <activity-->
<!--            android:name=".InfoFragment"-->
<!--            android:exported="false"-->
<!--            tools:ignore="Instantiatable" />-->
<!--        <activity-->
<!--            android:name=".qaDetailActivity"-->
<!--            android:exported="true" />-->
        <activity
            android:name=".view.AskActivity"
            android:exported="false">
        </activity>

        <activity

            android:name=".view.QaDetailActivity"
            android:exported="true">

        </activity>

        <activity
            android:name=".view.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.TotalActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".view.RegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:exported="true" >
        </activity>

        <activity
            android:name=".view.AnsDetailActivity"
            android:exported="false">
        </activity>


    </application>

</manifest>